.button {
    padding: 8px 12px;
    background-color: var(--color-primary);
    border: 0;
    color: var(--color-white);
    min-width: 80px;
}

.button-group {
    padding: 10px;
    display: flex;
}